nb_lines=2
nb_launcher=3
extra_spacing=23
has_tooltips=true
has_labels=false

[launcher_3]
command=xflock4
name=Lock
icon_id=16

[launcher_2]
command=xfce4-settings-manager
name=Parameters
icon_id=15

[launcher_1]
command=chromium-browser
name=
icon_id=7

