[Desktop Entry]
Version=1.1
Type=Application
Name=Gmail
Comment=Gmail
Icon=/usr/share/icons/google/gmail.png
Exec=xdg-open https://mail.google.com/mail/
Actions=
Categories=Office;
Path=
Terminal=false
StartupNotify=false
