[Desktop Entry]
Version=1.1
Type=Application
Name=Google Drive
Comment=Google Drive
Icon=/usr/share/icons/google/google-drive.png
Exec=xdg-open https://drive.google.com/drive/my-drive
Actions=
Categories=Office;X-XFCE;X-Xfce-Toplevel;
Path=
Terminal=false
StartupNotify=false
