[Desktop Entry]
Version=1.1
Type=Application
Name=Google Slides
Comment=Google Slides
Icon=/usr/share/icons/google/google-slides.png
Exec=xdg-open https://docs.google.com/presentation/u/0/
Actions=
Categories=Office;
Path=
Terminal=false
StartupNotify=false
