[Desktop Entry]
Version=1.1
Type=Application
Name=Google Document
Comment=Google Document
Icon=/usr/share/icons/google/google-document.png
Exec=xdg-open https://docs.google.com/document/u/0/
Actions=
Categories=Office;X-XFCE;X-Xfce-Toplevel;
Path=
Terminal=false
StartupNotify=false
