[Desktop Entry]
Version=1.1
Type=Application
Name=Google Spreadsheets
Comment=Google Spreadsheets
Icon=/usr/share/icons/google/google-spreadsheet.png
Exec=xdg-open https://docs.google.com/spreadsheets/u/0/
Actions=
Categories=Office;X-XFCE;X-Xfce-Toplevel;
Path=
Terminal=false
StartupNotify=false
